<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="StgInsightSuite" parallel="tests" thread-count="4">
    <test name="Login on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
